{% load static %}
<html lang="en">
<head>
	<title>Таблица</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href='{% static "Positions/images/icons/favicon.ico" %}'/>
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href='{% static "Positions/vendor/bootstrap/css/bootstrap.min.css" %}'>#}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Positions/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Positions/vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Positions/vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Positions/vendor/perfect-scrollbar/perfect-scrollbar.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Positions/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "Positions/css/main.css" %}'>
    <link rel="stylesheet" type="text/css" href="{% static 'Positions/css/style.css' %}">

<!--===============================================================================================-->
</head>
<body>
<form>
<button type="submit" formaction="{% url 'index' %}" id="login" class="button b-back">
  <span>Главное меню</span>
</form>
</button>
	<div class="limiter">
		<div class="container-table100">
            <div class="wrap-table100">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


<!--===============================================================================================-->
<script src='{% static "Positions/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "Positions/vendor/bootstrap/js/popper.js" %}'></script>
<script src='{% static "Positions/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "Positions/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "Positions/js/main.js" %}'></script>

</body>
</html>