{% extends "Positions/Tables/base_table.html" %}
{% block content %}


<body>
    <form method="post">
    {% csrf_token %}

            <h1>Новая выдача</h1><br>

        <label for='mol'>Ответственный</label>

        <select id='mol' name='mol'>
        {% if out_dict.mol %}
            <option value="{{ out_dict.mol.id }}" hidden>{{ out_dict.mol.name }}</option>
        {% else %}
            <option value="" hidden>Выберите ответственного</option>
        {% endif %}
            {% for person in persons %}
                <option value="{{ person.id }}">{{ person.name }}</option>
            {% endfor %}
        </select>


    <label>Принял</label><br>
        <select id='arb' name='arb'>
        {% if out_dict.arb %}
            <option value="{{ out_dict.arb.id }}" hidden>{{ out_dict.arb.name }}</option>
        {% else %}
            <option value="" hidden>Выберите приемщика</option>
        {% endif %}
            {% for person in arb %}
                <option value="{{ person.id }}">{{ person.name }}</option>
            {% endfor %}
        </select>

        <label>Объект</label><br>
        <select id='obj' name='obj'>
        {% if out_dict.obj %}
            <option value="{{ out_dict.obj.id }}" hidden>{{ out_dict.obj.name }}</option>
            {% else %}
        <option value="" hidden>Выберите объект</option>{% endif %}
            {% for obj in objects %}
                <option value="{{ obj.id }}">{{ obj.name }}</option>
            {% endfor %}
        </select>
    <br><br>
       <div class="blokk"> <input type="submit" value="Добавить позицию"></div><br>
    <br>
<div class="table100">
        <table id="node" >
        <thead>
              <tr class="table100-head"><th class="column_c_1">ID</th><th class="column_c_2">Наименование</th><th class="column_c_3">Остаток на складе</th><th class="column_c_4">На выдачу</th></tr>
            </thead>
            {% for i in pos %}
                 <tr><td>{{ i.id }}</td><td >{{ i.name }}</td><td >{{ i.quantity }}</td><td>
                     <input name="quantity{{ i.id }}"></td></tr>
            {% endfor %}
        </table>
</div>
        <input name="otpr" value="отправить на выдачу" type="submit">
    </form>

{% endblock %}